<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="container">
    <img src="assets/img/logo.png" alt="" class="logo">
    <form action="#">
      <input placeholder="Usuario" name="username" #username>
      <input placeholder="Contraseña" name="password" #password>
    </form>
    <button ion-button icon-start class="login-btn classic-btn" (click)="goHome(username.value, password.value)">
      <p>Ingresar</p>
      <ion-icon name="md-arrow-forward" class="text-yellow"></ion-icon>
    </button>
    <span class="non-registered">
        ¿No te has registrado? <a href="#" (click)="goToRegister()"> Registrate Ahora.</a>
    </span>
    <span class="olvide-contrasena">
      ¿Olvidaste tu contraseña? <a href="#" (click)="goToForgot()"> Haz Click Aqui.</a>
    </span>
  </div>
</ion-content>
