// @import 'variables';

page-login {
  .container {
    text-align: center;
    background-color: #fafafa;
    padding: 10% 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img.logo {
      width: 50%;
      margin-top: 2%;
      height: auto;
    }

    form{
        display: flex;
        flex-direction: column;
        padding: 4vh 30px 20px;
        min-width: 100%;
        input {
             outline: none;
             border: none;
             border-radius: 10000px;
             height: 8vh;
             max-height: 40px;
             margin-bottom: 20px;
             padding-left: 20px;
             font-weight: 500;
             font-family: 'Roboto', sans-serif;
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

    }

    .login-btn {
      height: 50px;
        ion-icon{
            margin-left: 20px;
        }
    }
  }
  span {
    font-weight: 500;
    color: rgba(map-get($colors, dark), .6);
    margin-top: 10px;
    display: block;
  }
  .olvide-contrasena{
    a{
      color: rgba(map-get($colors, dark), .6);
    }
  }
  .non-registered{
    a{
      color: rgba(map-get($colors, dark), .6);
    }
  }

}
