page-register {
    .register-container{
        padding: 5vh 20px;
        background-color: #fafafa;
        height: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    form{
        display: flex;
        flex-direction: column;
        padding: 4vh 30px 20px;
        min-width: 100%;
        input {
             outline: none;
             border: none;
             border-radius: 10000px;
             height: 8vh;
             max-height: 40px;
             margin-bottom: 20px;
             padding-left: 20px;
             font-weight: 500;
             font-family: 'Roboto', sans-serif;
             box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

    }

    .back-btn{
        background-color: transparent;
        position: absolute;
        top: 2%;
        left: 5%;
        color: map-get($colors, grey);
        font-size: 1.5em;
        box-shadow: none;
        background-color: none;
        width: 30px;

        ion-icon{
            // font-size: 2em;
            color: map-get($colors, grey);

        }
    }
    }
}
