<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <div class="register-container column">
      <button ion-button icon-start class="back-btn classic-btn" (click)="goBack()">
        <ion-icon name="md-arrow-back" class="text-yellow"></ion-icon>
        <!-- <p>Regresar</p> -->
        </button>
    <h1>Registrate</h1>
    <form action="localhost:3000/signup" method="post">
      <input placeholder="Nombre" name="name" #name>
      <input placeholder="Apellido" name="lastname" #lastname>
      <input placeholder="Usuario" name="username" #username>
      <input placeholder="Contraseña" type="password" name="password" #password>
      <input placeholder="Correo Electronico" name="email" #email>
    </form>
    <button ion-button icon-start class="login-btn classic-btn" (click)="sendInfo(name.value, lastname.value, username.value, password.value, email.value)">
      <ion-icon name="md-checkmark" class="text-yellow"></ion-icon>
      <!-- <p>Listo</p> -->
      </button>
  </div>
</ion-content>


