<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content >
    <div class="forgot-password-container">
        <button ion-button icon-start class="back-btn classic-btn" (click)="goBack()">
          <ion-icon name="md-arrow-back" class="text-yellow"></ion-icon>
          <!-- <p>Regresar</p> -->
          </button>
      <h1>Recuperar Contraseña</h1>
      <form action="#">
        <input placeholder="Correo Electronico">
      </form>
      <button ion-button icon-start class="login-btn classic-btn" (click)="sendInfo()">
        <ion-icon name="md-checkmark" class="text-yellow"></ion-icon>
        <!-- <p>Listo</p> -->
        </button>
    </div>
</ion-content>
