<ion-content>
  <div style="background-image: url('https://i.imgur.com/EIL4ckI.png'); background-size: contain; height: 100%; background-position: center; background-repeat: no-repeat; background-color: #000000;"></div>
  <div>
    <ion-icon name="close" class="material-float-icon close-btn" (click)="close()"></ion-icon>
  </div>
  <div class="opinion-container">
    <div class="emoji-bar">
      <form action="#" id="feels" name="feels"> 
        <div class="emojis emoji-1">
          <input type="radio" ([ngModel])="feel" name="feels" id="emoji-1" (click)="pickEmoji(1)">
          <label for="emoji-1">
            <img src="assets/emojis/1.png" alt="">
          </label>
        </div>
        <div class="emojis emoji-2">
          <input type="radio" name="feels" (click)="pickEmoji(2)" id="emoji-2">
          <label for="emoji-2">
            <img src="assets/emojis/2.png" alt="">
          </label>
        </div>
        <div class="emojis emoji-3">
          <input type="radio" name="feels" (click)="pickEmoji(3)" id="emoji-3">
          <label for="emoji-3">
            <img src="assets/emojis/3.png" alt="">
          </label>
        </div>
        <div class="emojis emoji-4">
          <input type="radio" name="feels" (click)="pickEmoji(4)" id="emoji-4">
          <label for="emoji-4">
            <img src="assets/emojis/4.png" alt="">
          </label>
        </div>
        <div class="emojis emoji-5">
          <input type="radio" name="feels" (click)="pickEmoji(5)" id="emoji-5">
          <label for="emoji-5">
            <img src="assets/emojis/5.png" alt="">
          </label>
        </div>
        <div class="emojis emoji-6">
          <input type="radio" name="feels" (click)="pickEmoji(6)" id="emoji-6">
          <label for="emoji-6">
            <img src="assets/emojis/6.png" alt="">
          </label>
        </div>
      </form>
    </div>
    <div class="comment-box">
      <textarea name="feels" id="comment-box" cols="20" rows="10" placeholder="Opina sobre tu foto..."></textarea>
    </div>
    <!-- <div class="send-btn"> -->
    <button ion-button icon-start class="send-btn classic-btn" (click)="sendInfo()">
      <p>Enviar</p>
    </button>
  </div>
  <!-- </div> -->
</ion-content>
