page-feedback{
    .emoji-bar{
        width: 90%;
        height: 10%;
        background-color: white;
        border-radius: 1000px;
        z-index: 1000;
        // position: fixed;
        // bottom: 5%;
        padding: 14px;
        margin-bottom: 4%;
        // left: calc(50% - (165px));
        box-shadow: 0 1px 10px rgba(0,0,0,0.40), 0 1px 2px rgba(0,0,0,0.24);
        text-align: center;
        // transform: translateX(calc((165px)-50%));
        transition: transform 0.5s ease-in-out;

        img{
            width: 80%;
            height: 80%;
        }

        .emojis {
            display: inline-block;
            margin-left: 1px;
            width: 15%;
            height: 15%;
          }

        input[type=radio] {
            visibility: hidden;
            display: none;
            &:checked + label>img {
              border-radius: 1000px;
              box-shadow: 0 0 0 13px rgba(map-get($colors, yellow), 0.5);
              z-index: -10;
            }
        }
    }

        .opinion-container {
            position: fixed;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            // left: calc(50% - (165px));
            // -105% para mostrar todo el contenido
            transform: translateY(-30%);
            transition: transform 0.3s ease-in-out;
        }
       
        .comment-box {
            // transform: translateY(100px);
            margin-bottom: 2%;
            max-height: 30%;
            width: 90%;
            #comment-box{
                width: 100%;
                height: 20vh;
                font-size: 1.7em;
                font-family: 'Roboto', sans-serif;
                box-shadow: 0 1px 10px rgba(0,0,0,0.40), 0 1px 2px rgba(0,0,0,0.24);
                border-radius: 10px;
                transform: translateY(300px);
                transition: transform 0.7s ease-in-out;
                border: none;
                padding: 20px;
            }
            
        }

        .send-btn {
            font-size: 2em;
            width: 90%;
            height: 10vh;
            transform: translateY(300px);
            // left: calc(50% - (165px));
            transition: transform 0.8s ease-in-out;
            box-shadow: 0 1px 10px rgba(0,0,0,0.40), 0 1px 2px rgba(0,0,0,0.24);

        }
    }
