<!-- <ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content>
  <div class="map-container">
    <div #map id="map"></div>
  </div>
  <button ion-button icon-start class="camera-btn classic-btn" (click)="launchCamera()">
    <ion-icon name="camera" class="text-yellow"></ion-icon>
    <p>Expresate</p>
  </button>

  <img src="{{ photo }}" alt="">
</ion-content>

