@import "theme/base";

page-home {
    .camera-btn {
        position: fixed;
        bottom: 5%;
        left: calc(50% - 100px);
    }

    .map-container{
        width: 100vw;
        height: 100vh;
    }

    #map {
        width: 100%;
        height: 100%;
      }
    
}

