<!-- Generated template for the ModalComponent component -->
<div class="modal-container">
  <div class="close-btn classic-btn">
    <ion-icon name="md-close" (click)="close()"></ion-icon>
  </div>
  <div class="modal-content">
    <img src="https://i.imgur.com/EIL4ckI.png" alt="" class="">
    <div class="opinion">
      <p>{{comment}}</p>
    </div>
  </div>
  <img [src]="icon" alt="" class="emoji">
</div>
