modal {
    background-color: rgba(#000000,.2);
    .modal-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    .close-btn {
        border-radius: 1000px;
        top: 8%;
        left: calc(50% - 30px);
        width: 15%;
        height: 15vw;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon{
            font-size: .5em;
        }
    }
    .modal-content{
        background-color: white;
        border-radius: 10px;
        margin: 0 30px;
        height: 70%;
        img{ 
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        div.opinion {
            color: map-get($colors, text-grey);
            width: 100%;
            height: 100%;
            padding: 20px;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;

        }
    }

    .emoji {
        width: 20%;
        height: 20vw;
        margin-top: -30px;
    }
}
